body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: black;
    color: #fff;
    padding: 5px 20px;
}

nav li:hover {
    background-color: gray;
    color: #17191a;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.p 
{
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 5rem;
    text-align: center;
    color: white; 
}

.gray-container {
    background-color: #17191a; 
    padding: 30px;
    text-align: center;
}

.gray-container h2 {
    font-size: 2.5rem;
    color: white; 
}

.gray-container p {
    font-size: 1rem;
    color: white;  
    margin: 0 auto;
    max-width: 600px;
    line-height: 1.55; 
}

.sub-header {
    background-color: #17191a; 
    padding: 20px; 
    font-size: 1.5rem;
    color: white;  
}

.outer-container {
    background-color: #17191a; 
}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.project {
    width: 300px; 
    background-color: #17191a;
    padding: 0;
    text-align: center;
    margin: 20px;
}

.project img {
    width: 100%;  
    height: auto;
    object-fit: cover; 
}

.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 20px;
}

.contact {
    width: 200px;  
    background-color: #17191a;
    text-align: center;
    margin: 20px;
}

.contact img {
    width: 100%;  
    height: auto;
    object-fit: cover;  
}

.footer {
    background-color: #000;  
    color: #fff;  
    padding: 20px;
    text-align: center;
}

.telegram-link {
    color: #fff;
    text-decoration: none;
}

.telegram-link:hover {
    text-decoration: underline
