body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.logo img {
    max-width: 150px;
    height: 100px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
}

.container h1 {
    font-size: 50px;
    text-align: center;
    color: white; 
}

.gray-container {
    background-color: #17191a;
    padding: 40px 0;
    color: white;
}

.footer {
    background-color: #000;  
    color: #fff;  
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: 50px;
}

.footer a {
    color: #00acee;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.project {
    background-color: #17191a;
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
}

.project h3 {
    color: #dcdad7;
    margin: 10px 0;
}

.contact img, .project img {
    max-width: 100%;
    height: auto;
}
